*{
  box-sizing: border-box;
}

html,body{
  font-family: times;
  color: #fff;
  background-color: #4D82AA;
  height: 100%;
}

.header{
  height: 100%;
  background-image: url('../images/daiwei-lu-tU7sNs6tmt8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.header h1,h2,h4{
  height: 100%;
}


/* About */

.About{
  height: 100%;
  background-image: url('../images/ng-bviex5lwf3s-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}


/* Experiences */

.Experiences{
  height: 100%;
  background-image: url('../images/joshua-hibbert-Pn6iimgM-wo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}



/* Education */

.Education{
  height: 100%;
  background-image: url('../images/aron-visuals-5wxay7D7yjE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}



/* Skills */

.Skills{
  height: 100%;
  background-image: url('../images/19547.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.Skills .progress{
  margin-top: 1rem;
  height: 2rem;
  font-size: 1rem;
}


/* Activities */

.Activities{
  height: 100%;
  background-image: url('../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}


/* Contacts */

.Contacts{
  height: 100%;
  background-image: url('../images/priscilla-du-preez-MU93ZoQPNB8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.Contacts a{
  text-decoration: none;
  color: pink;

}


/* Footer */

.Footer{
  height: 100%;
  background-image: url('../images/lucas-gallone-7E2IVelB3zg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;

}
