html,body{
  font-family: times;
  color: #fff;
  background-color: #4D82AA;
  height: 100%;
}

.header{
  height: 100%;
  background-image: url('../images/daiwei-lu-tU7sNs6tmt8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.header h1,h2,h4{
  height: 100%;
}


/* About */

.About{
  height: 100%;
  background-image: url('../images/ng-bviex5lwf3s-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
